<div [@routerTransition]>
    <div class="row">
        <div >
            <h2 class="text-muted">AudiXpress - {{myDate.time | date:'yyyy/MM/dd HH:mm:ss'}}</h2>
        </div>
    </div>  
    <div class="row">
        <div class="col col-xl-6 col-lg-6">
            <div class="card mb-6">
                <div class="card-header">Chamados GLPI {{glpi.time | date:'yyyy/MM/dd HH:mm:ss'}}</div>
                <div class="card-block table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center" *ngFor="let lb of glpi.labels; let index = index" >{{lb}}</th>
                            <th class="text-center">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                            <!-- <tr>{{glpi.data}}</tr> -->
                        <tr *ngFor="let dd of glpi.data; let index = index">
                            <td>{{dd.name}}</td>
                            <td class="red text-center">{{dd.vencido}}</td>
                            <td class="yellow text-center">{{dd.vincendo}}</td>
                            <td class="green text-center">{{dd.avencer}}</td>
                            <td class="text-center">{{dd.avencer + dd.vincendo + dd.vencido}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col col-xl-6 col-lg-6">
            <div class="card mb-6">
                <div class="card-header">Chamados MANTIS {{mantis.time | date:'yyyy/MM/dd HH:mm:ss'}}</div>
                <div class="card-block table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center" *ngFor="let lb of mantis.labels; let index = index" >{{lb}}</th>
                            <th class="text-center">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                            <!-- <tr>{{glpi.data}}</tr> -->
                        <tr *ngFor="let dd of mantis.data; let index = index">
                            <td>{{dd.name}}</td>
                            <td class="text-center {{getCssMantis(dd.crash)}}">{{dd.crash}}</td>
                            <td class="text-center {{getCssMantis(dd.block)}}" >{{dd.block}}</td>
                            <td class="text-center {{getCssMantis(dd.manjor)}}">{{dd.major}}</td>
                            <td class="text-center {{getCssMantis(dd.other)}}">{{dd.other}}</td>
                            <td class="text-center">{{countMantis(dd)}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
