.card{
	text-align: center;
	height: 90vh;
	position: relative;
}

.card:hover{
	background-color: green;
	cursor: pointer;
	color: white;
}

.card-block{
	margin: 25vh;
	font-size: 100px;
	text-align: center;
}
