<div [@routerTransition]>
    <!-- <app-page-header [heading]="'Start'" [icon]="'fa-wrench'"></app-page-header> -->
    <div class="row">
        <div class="col col-xl-6 col-lg-6 text-xs-center">
            <div class="card mb-6" (click)="redirectSictd()">
                <div class="card-block" >
                    SICTD
                </div>
            </div>
        </div>
        <div class="col col-xl-6 col-lg-6 text-xs-center">
            <div class="card mb-6" (click)="redirectAX()">
                <div class="card-block">
                    AudiXpress
                </div>
            </div>
        </div>
    </div>
</div>
