table th, .table td {
    padding: 5px;
}

.red{
	background-color: #ff0000a6;
}

.yellow{
	background-color: #ffff00a1;
}

.green{
	background-color: #008000a3;
}


.link{
	cursor: pointer;
}

.link:hover{
	background-color: #6ab3ff;
	cursor: pointer;
}

.op{
	border-bottom-width: 4px;
	border-bottom-color: #eceeef; 
}

div.op {
	border-style: solid;
	height: 100%;
	float: left;
	width: 50%;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
}

.op-sel{
	border-bottom-color: #065fbd;
	border-bottom-width: 4px;
}

.op:hover{
	background-color: #6ab3ff;
	cursor: pointer;
}

.op-n-sel{

}


.op-sel:hover{
	background-color: #6ab3ff;
	cursor: pointer;
}


.no-border{
	border: 0px !important;
}

.no-padding {
	padding: 0px !important;
}

.no-margin {
	margin: 0px !important;
}