<div [@routerTransition]>
<!--     <div class="row">
        <div>
            <h2 class="text-muted">AudiXpress - {{myDate.time | date:'yyyy-MM-dd HH:mm:ss'}}</h2>
        </div>
    </div>  
 -->    <div class="row">
        <div class="col col-xl-6 col-lg-6">
            <div class="card mb-6">
                <!-- <div class="card-header">Chamados {{lastTime.time | date:'yyyy/MM/dd HH:mm:ss'}}</div> -->
                <div class="card-block table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center op {{getGLPIOption('requisicao') ? 'op-sel' : ''}}" (click)="selectGLPI('requisicao');">Requisição</th>
                                <th class="text-center op {{getGLPIOption('incidente') ? 'op-sel' : ''}}" (click)="selectGLPI('incidente');">Incidente</th>
                                <th class="text-center op {{getGLPIOption('processando') ? 'op-sel' : ''}}" (click)="selectGLPI('processando');">Processando</th>
                                <th class="text-center op {{getGLPIOption('pendente') ? 'op-sel' : ''}}" (click)="selectGLPI('pendente');">Pendentes</th>
                                <th class="text-center op {{getGLPIOption('solucionado') ? 'op-sel' : ''}}" (click)="selectGLPI('solucionado');">Solucionados</th>
                            </tr>
                        </thead>
                    </table>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center"></th>
                            <th class="text-center link" colspan="4" (click)="chamados('')">GLPI({{contarTotalGlpi()}})</th>
                            <th class="text-center" colspan="6">MANTIS({{contarTotalMantis()}})</th>
                        </tr>
                        <tr>
                            <th class="text-center">Cliente</th>
                            <th class="text-center">Vencido</th>
                            <th class="text-center">Vincendo</th>
                            <th class="text-center">A Vencer</th>
                            <th class="text-center">Total</th>
                            <th class="text-center">Crash</th>
                            <th class="text-center">Block</th>
                            <th class="text-center">Major</th>
                            <th class="text-center">Others</th>
                            <th class="text-center">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let dd of listClient; let index = index" class="link" (click)="chamados(dd.label)">
                            <td class="{{getCssGLPI(dd.glpi)}}">{{dd.label}}</td>
                            <td class="{{dd.glpi.vencido == 0? '' : 'red'}} text-center">{{dd.glpi.vencido}}</td>
                            <td class="{{dd.glpi.vincendo == 0? '' : 'yellow'}} text-center">{{dd.glpi.vincendo}}</td>
                            <td class="{{dd.glpi.avencer == 0? '' : 'green'}} text-center">{{dd.glpi.avencer}}</td>
                            <td class="text-center">{{dd.glpi.avencer + dd.glpi.vincendo + dd.glpi.vencido}}</td>
                            <td class="text-center">{{dd.mantis.crash}}</td>
                            <td class="text-center" >{{dd.mantis.block}}</td>
                            <td class="text-center">{{dd.mantis.major}}</td>
                            <td class="text-center">{{dd.mantis.other}}</td>
                            <td class="text-center">{{countMantis(dd.mantis)}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col col-xl-6 col-lg-6">
            <div class="card mb-6">
                <div class="card-block table-responsive">
                    <table class="table table-bordered" id="tablePin">
                        <thead>
                            <tr>
                                <th class="text-center">Pin</th>
                                <th class="text-center click-order" *ngFor="let lb of pinned.labels; let index = index" (click)="ordenar(lb)">{{lb}}</th>
                            </tr>
                        </thead>
                        <tbody dndDropzone
                             (dndDrop)="onDrop($event)">
                        
                         <tr dndPlaceholderRef>
                            <td class="text-center plance-holder-dnd"><i class="fas fa-thumbtack"></i></td>

                            <td *ngFor="let vl of pinned.labels; let sindex = index" class="plance-holder-dnd">
                            <div class="{{sindex == 1 ? 'text-limit' : ''}} plance-holder-dnd">
                                {{formatar(vl,placerObj.data[vl])}}
                            </div>
                            </td>
                        </tr>
                        <tr *ngFor="let dd of pinned.data; let index = index" class="link"
                         [dndDraggable]="dd"
                         [dndEffectAllowed]="draggable.effectAllowed"
                         [dndDisableIf]="draggable.disable"
                         (dndStart)="onDragStart(dd)">

                            <td class="text-center link-pin" (click)="unPin(dd['Numero'])"><i class="fas fa-thumbtack"></i></td>
                            <td *ngFor="let vl of pinned.labels; let sindex = index" class="{{getCssPinned(sindex,dd)}}" (click)="openGLPI(dd)"><div class="{{sindex == 1 ? 'text-limit' : ''}}">{{formatar(vl,dd[vl])}}</div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
