table th, .table td {
    padding: 5px;
}

.table td.ng-tns-c2-0 {
	font-size: 14px;
	max-width: 300px;
}

.red{
	background-color: #ff0000a6;
}

.yellow{
	background-color: #ffff00a1;
}

.green{
	background-color: #008000a3;
}

.link{
	cursor: pointer;
}

.link:hover{
	background-color: #6ab3ff;
	cursor: pointer;
}