<div [@routerTransition]>
    <div class="row">
        <div>
            <h2 class="text-muted"><a [routerLink]="['/audixpress']" class="fa fa-arrow-left"> </a>{{cliente  ? cliente : 'Todos'}} - {{myDate.time | date:'yyyy-MM-dd HH:mm:ss'}}</h2>
        </div>
    </div>  
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-6">
                <div class="card-header"><b>Chamados ({{chamados.data.length}})</b></div>
                <div class="card-block table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center op {{getGLPIOption('requisicao') ? 'op-sel' : ''}}" (click)="selectGLPI('requisicao');">Requisição</th>
                                <th class="text-center op {{getGLPIOption('incidente') ? 'op-sel' : ''}}" (click)="selectGLPI('incidente');">Incidente</th>
                                <th class="text-center op {{getGLPIOption('processando') ? 'op-sel' : ''}}" (click)="selectGLPI('processando');">Processando</th>
                                <th class="text-center op {{getGLPIOption('pendente') ? 'op-sel' : ''}}" (click)="selectGLPI('pendente');">Pendentes</th>
                                <th class="text-center op {{getGLPIOption('solucionado') ? 'op-sel' : ''}}" (click)="selectGLPI('solucionado');">Solucionados</th>
                            </tr>
                        </thead>
                    </table>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" *ngFor="let lb of chamados.labels; let index = index" (click)="ordenar(lb)">{{lb}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let dd of chamados.data; let index = index" (click)="openGLPI(dd)" class="link">
                            <td *ngFor="let vl of chamados.labels; let sindex = index" class="{{getCssGLPI(sindex,dd)}}">{{formatar(vl,dd[vl])}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
